.social {
    display: block;
    width: 100%;
}

.social-button {
    -webkit-transition-duration: 0.4s;
    background-color: #e7e7e7;
    border: 2px solid #555555;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px 10px 0px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.social-button:hover {
    background-color: #555555;
    color: white;
}
