<!-- JS -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
// Load the sidebar
particlesJS.load('sidebar', '/public/json/particles-sidebar.json', function() { });
</script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82838082-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82838082-1');
</script>

{% comment %}
<!-- Google Auto Ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2002676771262988",
    enable_page_level_ads: true
  });
</script>
{% endcomment %}
