{% extends "base.html" %}

{% block content %}
<div class="posts">
  {% for page in paginator.pages %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ page.permalink }}">
        {{ page.title }}
      </a>
    </h1>

    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>

    {% if page.summary %}
      <blockquote>
        {{ page.summary | safe }}
      </blockquote>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next %}
    <a class="pagination-item older" href="{{ paginator.next }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous %}
    <a class="pagination-item newer" href="{{ paginator.previous }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endblock content %}
