{% comment %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- codedmaster.com sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2002676771262988"
     data-ad-slot="8283227753"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<iframe data-aa='410024' src='//ad.a-ads.com/410024?size=160x600' scrolling='no' style='width:160px; height:600px; border:0px; padding:0;overflow:hidden;display:block;margin:0 auto;' allowtransparency='true'></iframe>
{% endcomment %}
<iframe data-aa='410030' src='//ad.a-ads.com/410030?size=240x400' scrolling='no' style='width:240px; height:400px; border:0px; padding:0;overflow:hidden;display:block;margin:0 auto;' allowtransparency='true'></iframe>
